@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
.button {
    box-sizing: border-box;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: opacity ease-in-out 0.3s;
}
.button:hover {
    opacity: 0.6;
}
.page {
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    padding: 45px 200px 60px;
    font-family: 'Inter', 'Arial', sans-serif;
    background-color: #000000;
    box-sizing: border-box;
  }
@media screen and (max-width: 1180px) {
    .page {
        max-width: 881px;
        width: 100%;
        padding: 45px 50px 60px;
    }
}
@media screen and (max-width: 767px) {
    .page {
        max-width: 668px;
        padding: 28px 0 36px;
    }
}

.header {
    box-sizing: border-box;
    height: 74px;
    border-bottom: 1px #545454 solid;
}
@media screen and (max-width: 767px) {
    .header {
        height: 56px;
        padding: 0 28px;
    }
}
.logo {
    width: 142px;
    height: 33px;
}
@media screen and (max-width: 767px) {
    .logo{
        width: 103.74px;
        height: 24.4px;
    }
}

/* _______секция профиля_______ */

.profile {
    padding: 40px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}
@media screen and (max-width: 767px) {
    .profile {
        padding: 42px 0 36px;
        flex-direction: column;
        gap: 36px;
    }
}
.profile__card {
    max-width: 80%;
    display: flex;
    gap: 30px;
}
@media screen and (max-width: 767px) {
    .profile__card {
        max-width: calc(100% - 19px*2);
        flex-direction: column;
        align-items: center;
        gap: 26px;
    }
}
.profile__avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}
.prifile__info {
    margin: auto 0;
    display: grid;
    gap: 16px 18px;
    grid-template-columns: 1fr min-content;
    align-items: baseline;
    margin-right: 15px;
}
@media screen and (max-width: 767px) {
    .prifile__info {
        text-align: center;
        gap: 14px 10px;
        margin-right: 0;
    }
}
.profile__name {
    margin: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media screen and (max-width: 767px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
    }
}

.profile__editButton {
    width: 24px;
    height: 24px;
    border: 1px #FFFFFF solid;
    background: url('../images/Edit.png') center/10px 10px no-repeat;
}
@media screen and (max-width: 767px) {
    .profile__editButton {
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;
    }
}

.profile__description {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media screen and (max-width: 767px) {
    .profile__description {
        font-size: 14px;
        line-height: 17px;
        grid-column: span 2;
    }
}

.profile__addButton {
    width: 150px;
    height: 50px;
    border: 2px #FFFFFF solid;
    border-radius: 2px;
    background: url('../images/Add.svg') center/14px 14px no-repeat;
}
@media screen and (max-width: 767px) {
    .profile__addButton {
        width: 282px;
    }
}

/* _______elemets_______ */
.elements {

}
.elements__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 282px);
    gap: 20px 17px;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.card {
    background-color: #FFFFFF;
    border-radius: 10px;
}
.card__image {
    width: 100%;
    height: 282px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.card__description {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 25px 21px 31px;
}
.card__subtitle {
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 22px);
}
.card__likeButton {
    width: 22px;
    height: 19px;
    background: url(../images/like.svg) center/22px 19px no-repeat;
}
.card__likeButton:hover {
    opacity: 0.5;
}

.card__likeButton_active {
    background: url(../images/like_active.svg) center/22px 19px no-repeat;
}

.footer {
    padding-top: 66px;
}
.footer__copyright {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        max-width: calc(100% - 19px*2);
        margin: auto;
        font-size: 14px;
		line-height: 17px;
    }
}

.popup {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}
.popup_opened {
    display: flex;
}
.popup__container {
    position: relative;
    margin: auto;
    padding: 34px 36px 37px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-width: 430px;
    width: 100%;
    box-sizing: border-box;
}
@media screen and (max-width: 767px) {
    .popup__container {
        max-width: 282px;
        padding: 25px 22px;
    }
}
.popup__title {
    margin: 0 0 54px 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}
@media screen and (max-width: 767px) {
    .popup__title {
        margin-bottom: 75px;
        font-size: 18px;
        line-height: 22px;
    }
}
.popup__closeButton {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    background: url(../images/Close.svg) center/32px 32px no-repeat;
}
@media screen and (max-width: 767px) {
    .popup__closeButton {
        top: -36px;
        right: 0;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
    }
}
.popup__form {
    display: flex;
    flex-direction: column;
}
.popup__input {
    box-sizing: border-box;
    height: 27px;
    padding: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.popup__input:not(:last-of-type) {
    margin-bottom: 30px;
}
.popup__saveButton {
    height: 50px;
    margin-top: 48px;
    background: #000000;
    border-radius: 2px; 
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.popup__saveButton:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .popup__saveButton {
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}
